.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 500px;
  height: 500px;
}

.home-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  width: 300px;
  font-size: 30px;
  font-weight: 700;
}
