* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}

/*CSS RESET OVER*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

:root{
  --text-inactive: #AAABB0;
  --text-active: #FAFAFC;
  --bg-card: #3A393E;
  --bg2: #25232E;
  --bg3-form: #555459;
  --primary-color: #FFAC5F;
  --primary-shade-from: #FFAC5F;
  --primary-shade-to: #FF4D3C; 
  --border-radius: 12px;
  /* FFAC5F  FF4D3C ORANGE*/ /* 08A7F3  0685c2 BLUE*/ 
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1A1A1C;
  font-family: 'Inter', sans-serif;
}

.primary-btn {
  min-width: 80px;
  height: 48px;
  padding: 8px;
  background: linear-gradient(var(--primary-shade-from), var(--primary-shade-to));
  border-radius: var(--border-radius);
  color: var(--text-active);
  font-size: 16px;
  font-weight: 500;
}

.primary-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.secondary-btn {
  min-width: 80px;
  height: 48px;
  padding: 8px;
  background-color: var(--bg3-form);
  border-radius: var(--border-radius);
  color: var(--text-active);
  font-size: 16px;
  font-weight: 500;
}

.secondary-btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
.general-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  background-color: var(--bg-card);
  color: var(--text-inactive);
  border-radius: var(--border-radius);
}

.loading-spinner{
  width: 10px;
  height: 10px;
}

.input-style {
  height: 30px;
  padding-inline: 15px;
  border-bottom: 1px solid var(--text-inactive);
  color: var(--text-active);
  font-size: 16px;
}